.conteiner{
  padding: 10px 50px;
  text-align: center;
  margin: 0;
  font-size: 20px;
}

.form{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  gap: 10px;
  height: 20px;
}
.input{
  width: 100px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid #00a86b;
}

.button {
  text-decoration: none;
  display: inline-block;
  padding: 15px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px #00a86b inset, 0 0 0 0 #00a86b;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  border: none;
  transition: .15s ease-in-out;
}
.button:hover {
  box-shadow: 0 0 10px 0 #00a86b inset, 0 0 10px 4px #00a86b;
  color: #00a86b;
}
.span{
  color: #00a86b;
  font-weight: 700;
}

.table{
  margin: 0 auto;
  height: 400px;
  width: 900px;
  margin-bottom: 200px;
}

.table table {
  border-collapse: collapse; 
  width: 100%; 
}

.table th, .table td {
  text-align: center;
}
.table th:nth-child(1), .table td:nth-child(1) {
  width: 18%;
}
.table th:nth-child(n+2):nth-child(-n+4), .table td:nth-child(n+2):nth-child(-n+4) {
  width: 12%;
}
.table th:nth-child(5), .table td:nth-child(5) {
  width: 12%;
}
.table th:nth-child(6), .table td:nth-child(6) {
  width: 22%;
}
.table th:nth-child(7), .table td:nth-child(7) {
  width: 12%;
}

.table th {
  background-color: #f2f2f2; /* Колір фону заголовків */
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Колір фону парних рядків */
}

.tableSort{
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 20px;
}

.tableSortselect{
  border-radius: 20px;
  border: 2px solid #00a86b;
  font-size: 18px;
}

.leftText{
  text-align: left;
  margin: 30px;
}

.plot{
  display: flex;
  justify-content: center;
}



.loader {
    width: 50px;
    height: 50px;
    border: 5px solid #FFF;
    border-bottom-color: #00a86b;
    border-radius: 50%;
    display: inline-block;
    margin: 25% auto;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 